*{
    /*border: red 1px solid;*/
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:rgba(179, 180, 255, 0.5);
}

.header{
    width: 100%;
    height: 5%;
}


/*MAIN*/
.main{
    height: 89%;
    width: 100%;
}


.content-box{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

/*SONG BOX*/
.playlist-box{
    width: 20%;
    height: 100%;
    background-color: #e1b3ff80;
    margin-left: 10px;
    padding-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 1, 1); 
}

.update-btn{
    width: 90%;
    height: 16%;
    border-radius: 30px;
    background-color: #1b1049;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 6px;
    justify-self: center;
    display: inline-block;
    cursor: pointer;
}

.update-btn:hover{
    background-color: #822ad4;
    cursor: pointer;
}

.songs-box{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    
}


.song-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
    border: #1b1049 1px solid;
    margin: 10px;
    font-size: 13px;
    background-color: rgb(244, 240, 255);
}
    
.song-picture{
    grid-row: span 2 / span 2;
}

.song-picture img{
    width: 100%;
    height: 100%;
    padding: 3px;
    
}

.song-title {
    grid-column: span 3 / span 3;
    align-self: center;
    text-align: center;
    border-bottom: #1b1049 1px solid;
    padding-bottom: 5px;
    margin-right: 2px;
}

.song-artist {
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    text-align: center;

}

.song-duration {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
    align-content: center;
    justify-self: flex-end;
}
  

/*PLAYER BOX*/
.player-box{
    width: 80%;
    height: 100%;
    text-align: center;
    
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.disc{
    width: 30%;
    height: 50%;
    border-radius: 50%;   
    animation: rotate 5s linear infinite;
}

.disc-box{
    padding: 20px;
}

.player-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 60px;
    
}
.player-buttons button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background-color: #6150a7;
    color: white;
    margin: 10px;
    border: none;
    cursor: pointer;
}




/*FOOTER*/

.footer{
    width: 100%;
    height: 6%;
    background-color: #822ad4;
    color: white;
    text-align: center;
    padding: 10px;
}
.footer a{
    color: white;
    text-decoration: none;
}

